<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 为了方便调试，打印查询过程 -->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING" />
        <!--二级缓存全局参数  -->
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <!-- end 查询过程 -->
</configuration>
